<h2>
  <%= link_to 'Add_New', new_post_path, class: 'header-menu' %>
  My Posts
</h2>
<ul>
  <% @posts.each do |post| %>
  <li>
  <%= link_to post.title, post_path(post)%>
  <%= link_to '[Edit]', edit_post_path(post), class: 'command' %>
  <%= link_to '[x]',
    post_path(post),
    method: :delete,
    class: 'command',
    data: { confirm: 'Sure?' }  %>
  </li>
  <% end %>
</ul>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Left</button>
  <button type="button" class="btn btn-default">Middle</button>
  <button type="button" class="btn btn-default">Right</button>
</div>
